<!DOCTYPE html>
<html lang="en">
<head>

	<title> Welcome! </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='http://fonts.googleapis.com/css?family=Oswald:700,300' rel='stylesheet' type='text/css'>

</head>

<body>

	<header class="navbar-inverse navbar-static-top"> 
		<h1 class="text-left">TITLE </h1>
	</header>

	<div class="row">

  		<div class="col-lg-2 col">

  			<div class="row">
  				<div class="col-lg-5 col-lg-offset-1">
  					<img class="img-thumbnail img-responsive" src="http://placehold.it/100x100" alt="profile_photo">
  				</div>
  				<div class="col-lg-6 pull-right">
  					<a href="#">Mayank Gupta</a>
  					<a href="#">SETTINGS</a>
  				</div>
  			</div>

  			<div class="row">
  				<div class="col-lg-11">

  				</div>
  			</div>

  		</div>

  		<div class="col-lg-10">
  			<p>BODY CONTENT</p>
  		</div>

	</div>

	<footer class="navbar-inverse navbar-fixed-bottom">
		<span>| Team Name |</span>
	</footer>

</body>
</html>

