<html>

<head>
	<title> Welcome! </title>
</head>

<body>
	<div id="header"> 
		<h1>TITLE STUFF</h1>
	</div>

	<div id="content">
		<div id="question">
			<h2>HELLO?</h2>
		</div>
		<div id="comment_section">
			Comments:
			<div class="comment">
				Comment 1
			</div>
			<div class="comment">
				Comment 2
			</div>
		<div>
	</div>

	<div id="footer">
		TEAM NAME | STUFF
	</div>

</body>

</html>

