<html>

<head>
	<title> Welcome! </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
	<header class="navbar navbar-static-top"> 
		<h3 class="text-left">TITLE </h3>
	</header>

	<div class="row">

  		<div class="col-lg-2">
  			MENU
  		</div>
  		<div class="col-lg-10">
  			BODY
  		</div>

	</div>

	<footer class="navbar navbar-fixed-bottom">
		<span>| Team Name |</span>
	</footer>

</body>

</html>

