<!DOCTYPE html>
<html lang="en">
<head>

	<title> Welcome! </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<< HEAD
	<link href='http://fonts.googleapis.com/css?family=Oswald:700,300' rel='stylesheet' type='text/css'>
=======
>>>>>>> 6f181e33973892b5be0976b7584632abf73c5731

</head>

<body>
<<<<<<< HEAD

	<header class="navbar-inverse navbar-static-top"> 
		<h1 class="text-left">TITLE </h1>
=======
	<header class="navbar navbar-static-top"> 
		<h3 class="text-left">TITLE </h3>
>>>>>>> 6f181e33973892b5be0976b7584632abf73c5731
	</header>

	<div class="row">

<<<<<<< HEAD
  		<div class="col-lg-2 col">

  			<div class="row">
  				<div class="col-lg-5 col-lg-offset-1">
  					<img class="img-thumbnail img-responsive" src="http://placehold.it/100x100" alt="profile_photo">
  				</div>
  				<div class="col-lg-6 pull-right">
  					<a href="#">Mayank Gupta</a>
  					<a href="#">SETTINGS</a>
  				</div>
  			</div>

  			<div class="row">
  				<div class="col-lg-11">

  				</div>
  			</div>

  		</div>

  		<div class="col-lg-10">
  			<p>BODY CONTENT</p>
=======
  		<div class="col-lg-2">
  			MENU
  		</div>
  		<div class="col-lg-10">
  			BODY
>>>>>>> 6f181e33973892b5be0976b7584632abf73c5731
  		</div>

	</div>

<<<<<<< HEAD
	<footer class="navbar-inverse navbar-fixed-bottom">
=======
	<footer class="navbar navbar-fixed-bottom">
>>>>>>> 6f181e33973892b5be0976b7584632abf73c5731
		<span>| Team Name |</span>
	</footer>

</body>
</html>

