<div class="row">

  		<div class="col-lg-4">
  		</div>

      <div class="col-lg-4">

        <div class="row">
          <div class="text-center">
            <span class="tagline"> Stand up. Speak out. Spark change. </span>
            <p class="lead"> <!--ABOUT-->
              SoapBox is a web application, which provides a platform to display opinion poll data on topical issues and affairs affecting the nation, in a visual and aesthetic format. The application allows youth to better understand the future of our nation, and be part of the changes that affect us all. In addition, SoapBox presents opportunities to users, to debate these topics and be empowered to ‘Stand Up. Speak Out. Spark Change.’ 
            <p>
          </div>
        </div>
          
          <div class="inset_box">

            <span class="subhead"> Login </span>
              
            <form id="login">
              <strong>Username:</strong></br>
              <input type="textinput"></br>
              <strong>Password:</strong></br>
              <input type="password"></br>
              <a type="button" class="btn btn-success" href = "/questions">Login</a>

            </form>

          </div>

          <button value="Register Now!" "type="button" class="btn btn-primary btn-lg btn-block">Register</button>

          <div class="row text-center">
            <%= image_tag 'stand.png', :height => "80px", :width =>"80px", :class => "glyph img-circle" %>
            <%= image_tag 'megaphone.png', :height => "80px", :width =>"80px", :class => "glyph img-circle" %>
            <%= image_tag 'spark.png', :height => "80px", :width =>"80px", :class => "glyph img-circle" %>
          </div>

      </div>

  		<div class="col-lg-4">
  		</div>

	</div>


