<div class="row">
  		<div class="col-lg-2 col inset_box">

        	<div class="row">
  			   <div class="col-lg-5 col-lg-offset-1">
  					<%= image_tag 'mayank.jpg', :height => '100px', :width => '100px', :class => 'img-thumbnail img-responsive', :alt => 'Profile Photo' %>
  			   </div>
  			   <div class="col-lg-5 col-lg-offset-1 pull-right">
  					<a href="#" class="subhead">Mayank Gupta</a> <br/>
  					<a href="#" class="subhead">SETTINGS</a>
  			  	</div>
  	   		</div>

  	   		<div class="row">
  				  <div class="col-lg-10 col-lg-offset-1">
          		<a type="button" class="btn btn-success btn-lg btn-block" href = "/questions">MENU</a>
  				  </div>
  	   		</div>

          <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
              <a href = "/campaigns" type="button" class="btn btn-success btn-lg btn-block">SPARK CHANGE</a>
            </div>
          </div>

  	       <div class="row">
  		      <div class="col-lg-10 col-lg-offset-1" logout>
              <a href= "/" type="button" class="btn btn-default btn-lg btn-block" style="background-color:rgb(160,29,63);margin-top:50px;">LOGOUT</a>
  		      </div>
  	       </div>

    </div>

    <div class="col-lg-10">

      <div class="row">
          <div class="col-lg-9 col-lg-offset-1">
            <h2>Stand up. Speak out. Spark change.</h2>
          </div>
      </div>

      <div class="row">
        <div class="col-lg-9 col-lg-offset-1 well">
          <h3>Immigration Campaign</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-9 col-lg-offset-1 well">
          <h4>Infographics</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-9 col-lg-offset-1 well">
          <%= link_to image_tag("info_1.png", :class => 'img-thumnail img-responsive', :alt => 'Infographic'), "http://visual.ly/changing-face-immigration" %>
          <p class = "description">The problems with Immigration</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-9 col-lg-offset-1 well">
           <%= link_to image_tag("info_2.png", :class => 'img-thumnail img-responsive', :alt => 'Infographic'), "http://visual.ly/what-part-legal-immigration-dont-you-understand" %>
          <p class = "description">What part of legal immigration don't you understand?</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-9 col-lg-offset-1 well">
          <h4>Articles</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-9 col-lg-offset-1 well">
          <a class="links" href="http://www.washingtonpost.com/blogs/on-faith/wp/2013/08/08/finding-common-sense-and-compassion-in-the-immigration-debate/">Affair Immigration Debate</a>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-9 col-lg-offset-1 well">
          <a class="links" href="http://online.wsj.com/article/BT-CO-20130529-702235.html">Immigration- the problem for students</a>
        </div>
      </div>

    </div>