// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color: white;
}

header { 
	background-color: red;
}

#content {
	background-color: green;
}

#question {
	background-color: blue;
}

#comment_section {
	background-color: black;
}

.comment {
	background-color: yellow;
}

footer {
	background-color: purple;
}

