// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color:#D9D9D9;
}

<<<<<<< HEAD
h1{
	font-family: 'Oswald', sans-serif;
	font-weight: 800;
	color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
}

span{
	color: #FFFFFF;
	font-family: 'Oswald', sans-serif;
	font-weight: 200;
}

a{
	font-family: 'Oswald', sans-serif;
	font-weight: 200;
}

p{
	font-family: 'Oswald', sans-serif;
	font-weight: 200;
}


footer {
	text-align:center;
}

=======
footer {
	text-align:center;
}
>>>>>>> 6f181e33973892b5be0976b7584632abf73c5731
